<%= javascript_include_tag 'settings/settings' %>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="panel-wrapper in customer_show_tabs">
      <ul class="nav customtab nav-tabs responsive" role="tablist">
        <li role="presentation" class="active" id="info_li"><a class="tabs_changer" data-type="info" href="#info" aria-controls="notes" role="tab" data-toggle="tab" aria-expanded="false">Info</a></li>
        <li role="presentation" id="order_li"><a class="tabs_changer" href="#password" data-type="order" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Change Password</a></li>
        <li role="presentation" id="logo_li"><a class="tabs_changer" href="#logo" data-type="logo" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Change Logo</a></li>
      </ul>
      <div class="panel-body">
        <div class="tab-content responsive m-t-0">
          <div role="tabpanel" class="tab-pane fade active in show" id="info">
            <div class="settings_box_form">
              <%= form_for current_user, url: update_admin_info_path, html: {method: 'patch', id: 'edit_user_info'} do |f| %>
                <%= f.label :first_name, 'data-old_text': 'First name' %>
                <%= f.text_field :first_name %>
                <%= f.label :last_name, 'data-old_text': 'Last name' %>
                <%= f.text_field :last_name %>
                <%= f.label :email, 'data-old_text': 'Email' %>
                <%= f.email_field :email %>

                <%= f.submit 'Save' %>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="password">
            <div class="settings_box_form">
              <%= form_for current_user, url: update_admin_password_path, html: {method: 'patch', id: 'edit_user_password'} do |f| %>
                <%= f.label :password, 'data-old_text': 'Password' %>
                <%= f.text_field :password %>
                <%= f.label :old_password, 'data-old_text': 'Old password' %>
                <%= f.text_field :old_password %>
                <%= f.submit 'Save' %>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="logo">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="settings_box_form">
                  <%= form_for current_user, url: update_navbar_logo_path, html:{method: 'patch', id: 'edit_user_logo'} do |f| %>
                    <%= f.file_field :navbar_logo %>
                    <%= f.submit 'Save' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>