<ol class="breadcrumb">
  <li class='active'>Step 1</li>
  <li>Step 2</li>
  <li>Step 3</li>
  <li>Step 4</li>
  <li>Step 5</li>
</ol>

<%= form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
  <%= @user_wizard.errors.full_messages.first if @user_wizard.errors.any? %>

  <%= hidden_field_tag :current_step, 'step1' %>

  <%= f.email_field :email %>
  <br/>
  <%= f.password_field :password %>
  <br/>
  <%= f.password_field :password_confirmation %>
  <br/>
  <%= f.fields_for :orders do |o| %>
    <%= o.file_field :documents %>
  <% end %>

  <%= f.submit 'Continue' %>
<% end %>