<ol class="breadcrumb">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li><%= link_to "Step 2", step2_wizard_path %></li>
  <li><%= link_to "Step 3", step3_wizard_path %></li>
  <li><%= link_to "Step 4", step4_wizard_path %></li>
  <li class="active">Step 5</li>
</ol>

<%= form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
  <%= @order_wizard.errors.full_messages.first if @order_wizard.present? && @order_wizard.errors.any? %>

  <%= hidden_field_tag :current_step, 'step5' %>
  <%= f.fields_for :orders do |o| %>
    <%= o.check_box :accept_and_terms %>
  <% end %>

  <%= f.submit 'Finish' %>
<% end %>