<ol class="breadcrumb">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li><%= link_to "Step 2", step2_wizard_path %></li>
  <li><%= link_to "Step 3", step3_wizard_path %></li>
  <li class="active">Step 4</li>
  <li>Step 5</li>
</ol>

<%= form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
  <%= @payment_method_wizard.errors.full_messages.first if @payment_method_wizard.present? && @payment_method_wizard.errors.any? %>

  <%= hidden_field_tag :current_step, 'step4' %>
  <%= f.fields_for :payment_method do |p| %>
    <%= p.radio_button :payment_type, 'debit_card' %>
    <%= p.radio_button :payment_type, 'credit_card' %>
    <%= p.radio_button :payment_type, 'bank_account' %>
    <%= p.text_field :card_number %>
    <%= p.text_field :security_code %>
    <%= p.text_field :zipcode %>
    <%= p.text_field :bank_account_number %>
    <%= p.text_field :bank_account_routing_number %>
  <% end %>

  <%= f.submit 'Finish' %>
<% end %>