<%= javascript_include_tag 'wizards/step2' %>

<section id="wizard" class="overlay">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="registrations_order_box">
        <h1 class="text-center">Tell us some information about your Business</h1>
        <div class="register_order_fields_with_steps_box">
          <ol class="track-progress" data-steps="5">
            <li class="done"><span><%= link_to "Step 1", step1_wizard_path %></span></li><!--
            --><li class="active"><span>Step 2</span></li><!--
            --><li><span>Step 3</span></li><!--
            --><li><span>Step 4</span></li><!--
            --><li><span>Step 5</span></li>
          </ol>

          <%= form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
            <div class="errors">
              <%= @business_wizard.errors.full_messages.first if @business_wizard.present? && @business_wizard.errors.any? %>
            </div>

            <%= hidden_field_tag :current_step, 'step2' %>
            <%= f.hidden_field :email, value: @user_wizard.user.email %>
            <%= f.fields_for :business do |b| %>
              <%= b.label :legal_name, 'data-old_text': 'Legal Business Name' %>
              <%= b.text_field :legal_name %>
              <%= b.label :dba %>
              <%= b.text_field :dba %>
              <%= b.label :address_line_1, 'data-old_text': 'Address Line 1' %>
              <%= b.text_field :address_line_1 %>
              <%= b.label :address_line_2 %>
              <%= b.text_field :address_line_2 %>
              <%= b.label :city, 'data-old_text': 'City' %>
              <%= b.text_field :city %>
              <%= b.label :state, 'data-old_text': 'State' %>
              <%= b.text_field :state %>
              <%= b.label :zipcode, 'data-old_text': 'Zipcode' %>
              <%= b.text_field :zipcode %>
              <%= b.label :federal_tax_id, 'data-old_text': 'Federal Tax Id' %>
              <%= b.text_field :federal_tax_id %>
              <%= b.label :name_of_credit_card_processor, 'data-old_text': 'Name of Credit Card Process' %>
              <%= b.text_field :name_of_credit_card_processor %>
              <%= b.label :years_processor, 'data-old_text': 'Years Processor' %>
              <%= b.select :years_processor, (0..100).to_a.map{|n| [n, n]} %>
              <%= b.label :merchant_id_number, 'data-old_text': 'Merchant Id Number' %>
              <%= b.text_field :merchant_id_number %>
            <% end %>

            <%= f.submit 'Continue' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
