<section id="wizard" class="overlay">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="registrations_order_box">
        <h1 class="text-center">Ready to lower your bills?</h1>
        <div class="register_order_fields_with_steps_box">
          <ol class="track-progress" data-steps="5">
            <li class='active'><span>Step 1</span></li><!--
            --><li><span>Step 2</span></li><!--
            --><li><span>Step 3</span></li><!--
            --><li><span>Step 4</span></li><!--
            --><li><span>Step 5</span></li>
          </ol>

          <%= form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
            <div class="error">
              <%= @user_wizard.errors.full_messages.first if @user_wizard.present? && @user_wizard.errors.any? %>
            </div>
            <div class="errors">
              <%= @order_wizard.errors.full_messages.first if @order_wizard.present? && @order_wizard.errors.any? %>
            </div>

            <%= hidden_field_tag :current_step, 'step1' %>

            <%= f.label :email %>
            <%= f.email_field :email %>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>

            <%#= f.fields_for :orders do |o| %>
              <%#= o.label :documents %>
              <!--<div class="file-input-drop-zone">-->
                <!--<label id="user_wizard_orders_documents_label" for="user_wizard_orders_documents">Choose file</label>-->
                <!--<%#= o.file_field :documents, multiple: true %>-->
                <!--<p>or drag and drop them here</p>-->
              <!--</div>-->
            <%# end %>

            <div class="drop">
              <div class="cont">
                <i class="fa fa-cloud-upload"></i>
                <div class="tit">
                  Drag & Drop
                </div>
                <div class="desc">
                  Format can be PNG, JPG, JPEG, GIF
                </div>
                <div class="browse">
                  Choose files for upload
                </div>
              </div>
              <%= f.fields_for :orders do |o| %>
                <%= o.file_field :documents, multiple: true %>
              <% end %>
            </div>

            <output id="list"></output>
            <br/>
            <%= f.submit 'Continue' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
    var drop = $("#user_wizard_orders_documents");
    drop.on('dragenter', function (e) {
        $(".drop").css({
            "border": "4px dashed #09f",
            "background": "rgba(0, 153, 255, .05)"
        });
        $(".cont").css({
            "color": "#09f"
        });
    }).on('dragleave dragend mouseout drop', function (e) {
        $(".drop").css({
            "border": "3px dashed #DADFE3",
            "background": "transparent"
        });
        $(".cont").css({
            "color": "#8E99A5"
        });
    });



    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function(theFile) {
                return function(e) {
                    // Render thumbnail.
                    var span = document.createElement('span');
                    span.innerHTML = ['<img class="thumb" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    document.getElementById('list').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    $('#user_wizard_orders_documents').change(handleFileSelect);
</script>