<!--== Page Title Start ==-->
<div class="page-title section-padding overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="page-title-wrap">
          <h2><%= @order.created_at.strftime('%b %e %Y, %l:%M %p') %></h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="<%= admins_path %>">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== Page Title End ==-->

<section id="content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 show_box">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                Status:
              </div>
              <div class="col-md-8 col-lg-8 col-sm-7 show_box_data" id="order_status">
                <%= @order.status_html.html_safe %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                Documents:
              </div>
              <div class="col-md-8 col-lg-8 col-sm-7 show_box_data">
                <% @order.documents.each do |d| %>
                  <%= link_to d.file.filename, d.file.url, target:'_blank' %> <br/>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <% if @order.submitted? %>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                  Policy
                </div>
                <div class="col-md-8 col-lg-8 col-sm-7 show_box_data">
                  <%= link_to 'Show Policy', generate_contract_path(type: 'order', id: @order.id, customer_id: @order.customer.id), class: 'show_contract_button', target:'_blank'%>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                Customer Name:
              </div>
              <div class="col-md-8 col-lg-8 col-sm-7 show_box_data" id="order_status">
                <%= @order.customer.full_name %>
              </div>
            </div>
          </div>
        </div>

        <% if @order.customer.try(:business).present? %>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                  Business Name & DBA:
                </div>
                <div class="col-md-8 col-lg-8 col-sm-7 show_box_data">
                  <%= @order.customer.business.legal_name %> <%= @order.customer.business.dba.present? ?  " & #{@order.customer.business.dba}" : '' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                  Customer Merchant Name:
                </div>
                <div class="col-md-8 col-lg-8 col-sm-7 show_box_data">
                  <%= @order.customer.business.name_of_credit_card_processor %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                  Customer Merchant Years:
                </div>
                <div class="col-md-8 col-lg-8 col-sm-7 show_box_data">
                  <%= @order.customer.business.years_processor %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-5 show_box_title">
                Order created at:
              </div>
              <div class="col-md-8 col-lg-8 col-sm-7 show_box_data">
                <%= @order.created_at.strftime('%b %e %Y, %l:%M %p') %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 show_box_item">
            <div class="row order_actions_buttons">
              <% if @order.pending? %>
                <div class="col-md-6 col-lg-6 col-sm-6 text-center">
                  <button type="button" data-toggle="modal" data-target="#create_offer_modal" class="bms_submit_button">Create Offer</button>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 text-center">
                  <%= link_to 'Reject', admins_reject_order_path(id: @order.id), class: 'bms_reject_button', remote: true, method: 'post', id: 'bms_reject_order_button' %>
                </div>
              <% elsif @order.submitted? %>
                <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                  <%= link_to 'Reject', admins_reject_order_path(id: @order.id), class: 'bms_reject_button', remote: true, method: 'post', id: 'bms_reject_order_button' %>
                </div>
              <% elsif @order.rejected? %>
                <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                  <button type="button" data-toggle="modal" data-target="#create_offer_modal" class="bms_submit_button">Create Offer</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="order_modals_container">
  <% if @order.pending? || @order.rejected? %>
    <%= render partial: 'create_offer_modal' %>
  <% end %>
</div>
