<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--=== Favicon ===-->
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />

  <title>Business Merchant Services</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="preloader-active">

<!--== Preloader Area Start (Home2) ==-->
<div class="preloader">
  <div class="preloader-spinner">
    <div class="waves-block">
      <div class="waves wave-1"></div>
      <div class="waves wave-2"></div>
      <div class="waves wave-3"></div>
    </div>
  </div>
</div>
<!--== Preloader Area End ==-->

<!--== Header Area Start ==-->
<header id="header-area">
  <!-- PreHeader Area Start -->
  <div class="preheader-area home__2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="preheader-item log-reg">
            <% if current_user.present? %>
              <a href="/"><%= current_user.full_name %></a>
              <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
            <% else %>
              <a href="<%= step1_wizard_path %>">Get Started!</a>
              <a href="<%= new_user_session_path %>">Login</a>
            <% end %>
          </div>
        </div>

        <div class="col-lg-5 text-center d-none d-lg-block">

        </div>

        <div class="col-lg-3 col-sm-6 text-right">
          <div class="preheader-item phone-mail">
            <a href="#"><i class="fa fa-phone"></i>+180088888888</a>
          </div>
          <!-- <div class="preheader-item">
              <div class="preheader-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-behance"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- PreHeader Area End -->

  <!-- Header Bottom Area Start -->
  <div class="header-bottom" id="fixheader">
    <div class="container">
      <div class="row">
        <!-- Logo Area Start -->
        <div class="col-lg-2">
          <a href="/" class="logo-area">
            <img src="https://i.imgur.com/GPKmsua.png" alt="Logo">
          </a>
        </div>
        <!-- Logo Area End -->

        <!-- Menu Area Start -->
        <div class="col-lg-7">
          <nav class="mainmenu pull-right">
            <!-- <ul>
                <li class="active"><a href="index_2.html">Home</a>
                    <ul class="sub">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="index_2.html">Home 2</a></li>
                    </ul>
                </li>
                <li><a href="about.html">about</a></li>
                <li><a href="service.html">service</a>
                    <ul class="sub">
                        <li><a href="service.html">Service</a></li>
                        <li><a href="single-service.html">Single Service</a></li>
                    </ul>
                </li>
                <li><a href="#">Case study</a>
                    <ul class="sub">
                        <li><a href="case-study.html">Case study</a></li>
                        <li><a href="single-case.html">Single Case study</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a>
                    <ul class="sub">
                        <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                        <li><a href="blog-gird.html">Blog Column</a></li>
                        <li><a href="single-blog.html">Single Blog</a></li>
                    </ul>
                </li>
                <li><a href="#">pages</a>
                    <ul class="sub">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="404.html">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
            </ul> -->
          </nav>
        </div>
        <!-- Menu Area End -->

        <div class="col-lg-3 d-none d-lg-block">
          <div class="header-btn pull-right">
            <% if current_user %>
              <% if current_user.admin? %>
                <a href="<%= admins_path %>" class="seo-btn hvr-curl-bottom-right">Dashboard</a>
              <% elsif current_user.customer? %>
                <a href="<%= customers_path %>" class="seo-btn hvr-curl-bottom-right">Dashboard</a>
              <% end %>
            <% else %>
              <a href="<%= step1_wizard_path %>" class="seo-btn hvr-curl-bottom-right">Get Started Now</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Bottom Area End -->
</header>
<!--== Header Area End ==-->
<%= render 'layouts/messages' %>
<%= yield %>
<!--== About Area End ==-->

<!--== Footer Area Start (Home2) ==-->
<footer id="footer-area" class="home__2 overlay">
  <div class="footer-widget section-padding">
    <div class="container">
      <div class="row">
        <!-- Single Widget Start -->
        <div class="col-lg-4 col-md-6">
          <div class="single-widget-wrap">
            <div class="widget-title">
              <h5>About Company</h5>
            </div>
            <div class="widget-body">
              <img src="https://i.imgur.com/GPKmsua.png" alt="Logo">
              <p>Lorem ipsum dolor sit amet, consectetur to act the adipisicing elit, sed do eiusmod tempor sos what incididunt ut labore et denim.the to in the adipisicing elit.</p>
              <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->

        <!-- Single Widget Start -->
        <div class="col-lg-5 col-md-6">
          <div class="single-widget-wrap">
            <div class="widget-title">
              <h5>Service's Provided</h5>
            </div>
            <div class="widget-body">
              <ul class="footer-list">
                <li><a href="#">Merchant Rate Audit</a></li>
                <li><a href="#">Merchant Rate Negotiation</a></li>
                <li><a href="#">Merchant Analysis</a></li>

              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->

        <!-- Single Widget Start -->
        <div class="col-lg-3 col-md-6">
          <div class="single-widget-wrap">
            <div class="widget-title">
              <h5>Get Started By uploading your most recent Merchant Statement</h5>
            </div>
            <div class="widget-body">
              <div class="footer-form">
                <form action="index.html">
                  <input type="text" placeholder="Full Name">
                  <input type="email" placeholder="Email Address">
                  <input type="url" placeholder="Website URL">
                  <button type="button" name="button">Merchant Statement <i class="fa fa-upload"></i> </button>
                  <hr>
                  <button class="quote-btn"><i class="fa fa-send"></i> Next</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="copyright-text">
            <p>Copyright © 2018 BMS. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--== Footer Area End ==-->

<!--== Scroll Top Area Start ==-->
<div class="scroll-top home__2">
  <i class="fa fa-angle-double-up"></i>
</div>
<!--== Scroll Top Area End ==-->

</body>

</html>
